In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('instagramcom-steming.csv')

df

     Unnamed: 0                                            Steming
0             0                                                NaN
1             1                                            selamat
2             2                        kakak maribelajar uang saku
3             3                                   tolong tag kakak
4             4                                                NaN
..          ...                                                ...
437         437                                        siaap kakak
438         438                              min ajar hari jam jam
439         439                                         umum kakak
440         440                            min langsung apply test
441         441  selamat malam kakak mohon maaf ganggu buka lin...

[442 rows x 2 columns]

In [3]:
df_cleaned = df.dropna()

In [4]:
df_cleaned.to_csv('maribelajar-cleaned.csv', index=False)