In [1]:
pip install deep_translator

Requirement already satisfied: deep_translator in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (1.11.4)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from deep_translator) (4.12.2)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from deep_translator) (2.31.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep_translator) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0.0,>=2.23.0->deep_translator) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0.0,>=2.23.0->deep_translator) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0.0,>=2.23.0->deep_translator) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0.0,>=2.23.0->deep_translator) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('maribelajar-cleaned.csv')

df

     Unnamed: 0                                            Steming
0             1                                            selamat
1             2                        kakak maribelajar uang saku
2             3                                   tolong tag kakak
3             5                                      kakmaaf kakak
4             6  selamat malam kakak mohon maaf ganggu buka lin...
..          ...                                                ...
412         437                                        siaap kakak
413         438                              min ajar hari jam jam
414         439                                         umum kakak
415         440                            min langsung apply test
416         441  selamat malam kakak mohon maaf ganggu buka lin...

[417 rows x 2 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417 entries, 0 to 416
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  417 non-null    int64
 1   Steming     417 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.6+ KB

In [13]:
df.isna().sum()

Unnamed: 0    0
Steming       0
dtype: int64

In [14]:
df.drop(df.columns[[0]], axis = 1, inplace = True)
df

                                               Steming
0                                              selamat
1                          kakak maribelajar uang saku
2                                     tolong tag kakak
3                                        kakmaaf kakak
4    selamat malam kakak mohon maaf ganggu buka lin...
..                                                 ...
412                                        siaap kakak
413                              min ajar hari jam jam
414                                         umum kakak
415                            min langsung apply test
416  selamat malam kakak mohon maaf ganggu buka lin...

[417 rows x 1 columns]

In [15]:
from deep_translator import GoogleTranslator

def Translate(text):
    text = GoogleTranslator(source='id', target='en').translate(text)
    return text

In [16]:
df['Text_Inggris'] = df['Steming'].apply(Translate)

In [17]:
df

,Steming,Text_Inggris
0,selamat,Happy
1,kakak maribelajar uang saku,"Brother, let's learn pocket money"
2,tolong tag kakak,please tag brother
3,kakmaaf kakak,I'm sorry brother
4,selamat malam kakak mohon maaf ganggu buka lin...,"Good evening, bro, sorry for disturbing you, o..."
...,...,...
412,siaap kakak,ready brother
413,min ajar hari jam jam,min teach day hour hour hour
414,umum kakak,general brother
415,min langsung apply test,"Min, apply directly for the test"
416,selamat malam kakak mohon maaf ganggu buka lin...,"Good evening, bro, sorry for disturbing you, o..."

In [18]:
keep_col = ['Steming','Text_Inggris']
df1 = df[keep_col]
df1.to_csv('instagram-translate.csv')