In [10]:
pip install googletrans

Requirement already satisfied: googletrans in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (3.0.0)
Requirement already satisfied: httpx==0.13.3 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from googletrans) (0.13.3)
Requirement already satisfied: certifi in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from httpx==0.13.3->googletrans) (2023.7.22)
Requirement already satisfied: hstspreload in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from httpx==0.13.3->googletrans) (2023.1.1)
Requirement already satisfied: sniffio in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from httpx==0.13.3->googletrans) (1.3.0)
Requirement already satisfied: chardet==3.* in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from httpx==0.13.3->googletrans) (3.0.4)
Requirement already satisfied: idna==2.* in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from httpx==0.13.3->googletrans) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from httpx==0.13.3->googletrans) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from httpx==0.13.3->googletrans) (0.9.1)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (0.9.0)
Requirement already satisfied: h2==3.* in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\laurence nicholas s\appdata\local\programs\python\python312\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (3.0.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from googletrans import Translator
import pandas as pd

In [2]:
df = pd.read_csv('maribelajar-cleaned.csv')

df

     Unnamed: 0                                            Steming
0             0  ugm metaverse minecraft challenge hai sobat mi...
1             1  looking at the challenge or trouble not sure l...
2             2  hello sobat online kenal fatmawati universitas...
3             3  msib mari ajar holaaa everyone tesalonika univ...
4             4  halo generasi muda indonesia kenal himmatuz za...
..          ...                                                ...
176         177  terima kasih sempat program studi independent ...
177         178  agustus kemerdakaan nkri identik riah raya mer...
178         179  hai magangers bingung studi independen galau p...
179         180  mt school parsial agenda upgrading trainer lea...
180         181  ayo ikut kontes foto agustus kemerdakaan nkri ...

[181 rows x 2 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  181 non-null    int64
 1   Steming     181 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.0+ KB

In [4]:
df.isna().sum()

Unnamed: 0    0
Steming       0
dtype: int64

In [5]:
df.drop(df.columns[[0]], axis = 1, inplace = True)
df

                                               Steming
0    ugm metaverse minecraft challenge hai sobat mi...
1    looking at the challenge or trouble not sure l...
2    hello sobat online kenal fatmawati universitas...
3    msib mari ajar holaaa everyone tesalonika univ...
4    halo generasi muda indonesia kenal himmatuz za...
..                                                 ...
176  terima kasih sempat program studi independent ...
177  agustus kemerdakaan nkri identik riah raya mer...
178  hai magangers bingung studi independen galau p...
179  mt school parsial agenda upgrading trainer lea...
180  ayo ikut kontes foto agustus kemerdakaan nkri ...

[181 rows x 1 columns]

In [6]:
from deep_translator import GoogleTranslator

def Translate(text):
    text = GoogleTranslator(source='id', target='en').translate(text)
    return text

In [7]:
df['Text_Inggris'] = df['Steming'].apply(Translate)

In [8]:
df

,Steming,Text_Inggris
0,ugm metaverse minecraft challenge hai sobat mi...,ugm metaverse minecraft challenge hi friends m...
1,looking at the challenge or trouble not sure l...,looking at the challenge or trouble not sure l...
2,hello sobat online kenal fatmawati universitas...,"hello online friends, get to know fatmawati, m..."
3,msib mari ajar holaaa everyone tesalonika univ...,msib let's teach holaaa everyone Thessalonika ...
4,halo generasi muda indonesia kenal himmatuz za...,"hello, young generation of Indonesia, you know..."
...,...,...
176,terima kasih sempat program studi independent ...,thank you for taking the opportunity to study ...
177,agustus kemerdakaan nkri identik riah raya mer...,August the independence of the Republic of Ind...
178,hai magangers bingung studi independen galau p...,"Hi interns, confused about independent study, ..."
179,mt school parsial agenda upgrading trainer lea...,mt school partial upgrading agenda trainer lea...
180,ayo ikut kontes foto agustus kemerdakaan nkri ...,"Come on, take part in the photo contest for th..."

In [18]:
keep_col = ['Steming','Text_Inggris']
df1 = df[keep_col]
df1.to_csv('instagrampost-translate.csv')